* {
  font-family: sans-serif;
}

body {
  color: white;
  background-color: rgb(64, 104, 214);
}

h1 {
  font-weight: 200;
}

.add-task {
  float: left;
  margin: 0px 5px 20px 0px;
  font-family: serif;
}

.delete {
  float: left;
  margin: 0px 5px 20px 50px;
  font-family: serif;
}

.clearFix:after {
  content: "";
  display: table;
  clear: both;
}

.task-container {
  border-top: 1px solid rgb(109, 105, 105);
}

.indi-task {
  margin-top: 2px;
  border: 1px solid rgb(46, 129, 223);
  background-color: rgb(71, 137, 212);
  color: white;
  padding-left: 10px;
  width: 50%;
}

.indi-task button {
  float: right;
  margin-right: 10px;
}
